<div>
    <h1>API Discovery</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="span8 well" ng-repeat="event in makeArray(events)|orderBy:sortorder">
                <div class="row">
                    <h2 class="span6">Properties</h2>
                </div>
                <table class="table table-hover">
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                    </tr>
                    <tr ng-repeat="(key, value) in getProperties(event)">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                </table>
                <br />
                <div class="well" ng-show="hasKeys(event.queryLinks()) || hasKeys(event.queryActions())">
                    <div class="row" ng-show="hasKeys(event.queryLinks())">
                        <h4 class="span6">Links</h4>
                    </div>
                    <span ng-repeat="(key, value) in event.queryLinks()">
                        <a ng-click="navigate(event, key)">{{key}}</a> <span>&nbsp;|&nbsp;</span>
                    </span>

                    <div class="row" ng-show="hasKeys(event.queryActions())">
                        <h4 class="span6">Actions</h4>
                    </div>

                    <div ng-repeat="action in event.queryActions()">
                        <a href="#" ng-click="navigateToAction(event, action)">{{action.name}}</a>
                    </div>
                </div>
            </div>
            <div class="well" ng-show="failResponse">
                <pre class="response-error" ng-bind="failResponse"></pre>
            </div>
        </div>
    </div>
</div>
