<div >
    <h1>Entity List</h1>
    <hr/>
    <hr/>
    
   
    <ul class="thumbnails">
        <li ng-repeat="event in events|orderBy:sortorder" class="span5">
            <div class="well">
                <div class="row"><h2 class="span6">Properties</h2>
                </div>
                <div class="row" ng-repeat="(key, value) in nonFunctions(event)">
                    <span class="span1">{{key}}</span>
                    <span>{{value}}</span>
                </div>
            </div>
            <p ng-repeat="(key, value) in event.links" >
                <button type="button" class="btn btn-xs btn-link" ng-click="navigate(event, key)">{{key}}</button>
            </p>

        </li>
    </ul>
</div>